/* line 1, ../Proyecto Final _/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* line 11, ../Proyecto Final _/sass/style.scss */
body {
  font-family: "Caveat Brush", cursive !important;
  font-family: "Righteous", cursive !important;
  width: auto;
  display: contents;
  margin: 0;
  font-size: 18px !important;
  background-color: #c7c7c7;
}

/* Barra de navegacion */
/* line 21, ../Proyecto Final _/sass/style.scss */
.ancho {
  background-color: #fbf2cf;
  height: 6.5626rem;
  width: 100%;
}

/* line 26, ../Proyecto Final _/sass/style.scss */
.ancho ul {
  float: right;
  margin-right: 20px;
}

/* line 30, ../Proyecto Final _/sass/style.scss */
.ancho ul li {
  display: inline-block;
  line-height: 6.5625rem;
  margin: 0 0.3125rem;
}

/* line 35, ../Proyecto Final _/sass/style.scss */
.ancho ul li a {
  color: black;
  font-size: 1.125rem;
  padding: 0.4375rem 0.8125rem;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 46, ../Proyecto Final _/sass/style.scss */
.ancho a img {
  width: 200px;
}

/* line 52, ../Proyecto Final _/sass/style.scss */
.logo {
  position: absolute;
  padding: 0px 20px;
}

/* line 57, ../Proyecto Final _/sass/style.scss */
.navegacion li a.decoracion_enlace:hover {
  background: #c6ebc5;
  transition: 0.5s;
  border-radius: 10px;
}

/* line 63, ../Proyecto Final _/sass/style.scss */
.boton {
  font-size: 1.875rem;
  color: #a1c298;
  float: right;
  line-height: 6.5625rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

/* line 73, ../Proyecto Final _/sass/style.scss */
#check {
  display: none;
}

/* slider inicio*/
/* line 78, ../Proyecto Final _/sass/style.scss */
.slider_gral {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

/* line 85, ../Proyecto Final _/sass/style.scss */
.slider {
  position: relative;
  max-width: 1420px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

/* line 93, ../Proyecto Final _/sass/style.scss */
.slider_container {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

/* line 104, ../Proyecto Final _/sass/style.scss */
.slider_img {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

/* line 113, ../Proyecto Final _/sass/style.scss */
.slider_paginado {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* line 124, ../Proyecto Final _/sass/style.scss */
.slider_img_pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

/* line 139, ../Proyecto Final _/sass/style.scss */
.slider_img_pg:hover {
  transform: scale(2);
}

/* line 143, ../Proyecto Final _/sass/style.scss */
.slider_img_pg img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

/* line 153, ../Proyecto Final _/sass/style.scss */
.slider_img_pg:hover img {
  opacity: 1;
  transform: scale(1);
}

/* line 158, ../Proyecto Final _/sass/style.scss */
input[id="1"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(0, 0, 0);
}

/* line 163, ../Proyecto Final _/sass/style.scss */
input[id="1"]:checked ~ .slider_paginado .slider_img_pg[for="1"] {
  background: #fff;
}

/* line 167, ../Proyecto Final _/sass/style.scss */
input[id="2"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

/* line 172, ../Proyecto Final _/sass/style.scss */
input[id="2"]:checked ~ .slider_paginado .slider_img_pg[for="2"] {
  background: #fff;
}

/* line 176, ../Proyecto Final _/sass/style.scss */
input[id="3"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(calc(-200% * 1), 0, 0);
}

/* line 181, ../Proyecto Final _/sass/style.scss */
input[id="3"]:checked ~ .slider_paginado .slider_img_pg[for="3"] {
  background: #fff;
}

@keyframes autoplay {
  33% {
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66% {
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% * 2), 0, 0);
  }
}

/*footer*/
/* line 200, ../Proyecto Final _/sass/style.scss */
.pie_pagina {
  width: 100%;
  background-color: #c6ebc5;
}

/* line 203, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

/* line 213, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 220, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box figure img {
  width: 250px;
}

/* line 225, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}

/* line 231, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box p {
  color: black;
}

/* line 235, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

/* line 247, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

/* line 253, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-2 {
  background-color: #a1c298;
  padding: 15px 10px;
  text-align: center;
  color: black;
}

/* line 259, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 1400px) {
  /* line 2, ../Proyecto Final _/sass/_responsive.scss */
  .pie_pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center;
  }
  /* line 9, ../Proyecto Final _/sass/_responsive.scss */
  .pie_pagina .grupo-1 .box figure img {
    width: 300px;
  }
}

/*Galeria de imagenes*/
/* line 269, ../Proyecto Final _/sass/style.scss */
.titulo_galeria_fotos {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

/* line 277, ../Proyecto Final _/sass/style.scss */
.titulo_galeria_fotos h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 3rem;
  height: 100px;
}

@media (max-width: 1400px) {
  /* line 287, ../Proyecto Final _/sass/style.scss */
  .titulo_galeria_fotos h2 {
    font-size: 2rem;
  }
}

/* line 293, ../Proyecto Final _/sass/style.scss */
.img_galeria_fotos {
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
  position: relative;
}

/* line 299, ../Proyecto Final _/sass/style.scss */
.img_galeria_fotos:hover {
  transform: scale(1.1);
  z-index: 2;
}

/* line 305, ../Proyecto Final _/sass/style.scss */
.imagenes_container {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 313, ../Proyecto Final _/sass/style.scss */
.imagenes_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 320, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(1) {
  grid-row-start: span 2;
}

/* line 324, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(2) {
  grid-row-start: span 2;
}

/* line 328, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(3) {
  grid-row-start: span 4;
}

/* line 332, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(4) {
  grid-row-start: span 2;
}

/* line 336, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(5) {
  grid-row-start: span 2;
}

/* line 340, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(6) {
  grid-row-start: span 4;
}

/* line 344, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(7) {
  grid-row-start: span 4;
}

/* line 348, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(8) {
  grid-row-start: span 2;
}

/* line 352, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(9) {
  grid-row-start: span 2;
}

/* line 356, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(10) {
  grid-row-start: span 2;
}

/* line 360, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(11) {
  grid-column-start: span 2;
  grid-row-start: span 4;
}

/* line 365, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(13) {
  grid-row-start: span 4;
}

/* line 369, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(14) {
  grid-row-start: span 2;
}

/* line 373, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(15) {
  grid-row-start: span 2;
}

/* line 377, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(16) {
  grid-row-start: span 2;
}

/* line 381, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(17) {
  grid-row-start: span 2;
}

@media (max-width: 1400px) {
  /* line 385, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 390, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 395, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(3) {
    grid-row-start: span 4;
    grid-column-start: span 2;
  }
  /* line 400, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 405, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 410, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 415, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 420, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(8) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 425, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 430, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(10) {
    grid-row-start: span 3;
    grid-column-start: span 4;
  }
  /* line 435, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(11) {
    grid-column-start: span 4;
    grid-row-start: span 2;
  }
  /* line 439, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(12) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  /* line 444, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(13) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 449, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(14) {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
  /* line 454, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(15) {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
  /* line 459, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(16) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 464, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(17) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 468, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(18) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
}

/*galeria fotos de Hombres*/
/* line 474, ../Proyecto Final _/sass/style.scss */
.titulo_hombre {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

/* line 482, ../Proyecto Final _/sass/style.scss */
.titulo_hombre h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 3rem;
  height: 100px;
}

/* line 490, ../Proyecto Final _/sass/style.scss */
.imagenes_container_hombre {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 498, ../Proyecto Final _/sass/style.scss */
.imagenes_container_hombre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 505, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre {
  width: 100%;
}

/* line 509, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(1) {
  grid-row-start: span 2;
}

/* line 513, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(2) {
  grid-row-start: span 2;
}

/* line 517, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(3) {
  grid-row-start: span 4;
}

/* line 521, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(4) {
  grid-row-start: span 2;
}

/* line 525, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(5) {
  grid-row-start: span 3;
}

/* line 529, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(6) {
  grid-row-start: span 2;
}

/* line 533, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(7) {
  grid-row-start: span 3;
  grid-column-start: span 1;
}

/* line 538, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(8) {
  grid-row-start: span 2;
}

/* line 542, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(9) {
  grid-row-start: span 2;
}

/* line 546, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(10) {
  grid-row-start: span 4;
}

/* line 550, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(11) {
  grid-row-start: span 4;
}

/* line 554, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(12) {
  grid-row-start: span 3;
}

/* line 558, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(13) {
  grid-row-start: span 3;
}

@media (max-width: 1400px) {
  /* line 563, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 568, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 573, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(3) {
    grid-row-start: span 2;
  }
  /* line 577, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 582, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(5) {
    grid-row-start: span 2;
  }
  /* line 586, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 591, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(7) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 596, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 601, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 606, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(10) {
    grid-row-start: span 1;
  }
  /* line 610, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(11) {
    grid-row-start: span 1;
  }
  /* line 614, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(12) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 619, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(13) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
}

/*Galeria fotos de mujeres*/
/* line 626, ../Proyecto Final _/sass/style.scss */
.imagenes_container_mujeres {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 633, ../Proyecto Final _/sass/style.scss */
.imagenes_container_mujeres img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 640, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres {
  width: 100%;
}

/* line 644, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(1) {
  grid-row-start: span 3;
}

/* line 648, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(2) {
  grid-row-start: span 3;
}

/* line 652, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(3) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

/* line 657, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(4) {
  grid-row-start: span 4;
}

/* line 661, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(5) {
  grid-row-start: span 4;
}

/* line 665, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(6) {
  grid-row-start: span 3;
  grid-column-start: span 2;
}

/* line 670, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(7) {
  grid-row-start: span 4;
  grid-column-start: span 2;
}

/* line 675, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(8) {
  grid-row-start: span 2;
}

/* line 679, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(9) {
  grid-row-start: span 2;
}

/* line 683, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(10) {
  grid-row-start: span 4;
}

/* line 687, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(11) {
  grid-row-start: span 4;
}

/* line 691, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(12) {
  grid-row-start: span 4;
}

/* line 695, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(13) {
  grid-row-start: span 4;
}

/* line 698, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(14) {
  grid-row-start: span 2;
}

/* line 701, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(15) {
  grid-row-start: span 2;
}

@media (max-width: 1400px) {
  /* line 705, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(1) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 710, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(2) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 715, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 720, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 725, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 730, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 735, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 740, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 745, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 750, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(10) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 755, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(11) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 760, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(12) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 765, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(13) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 769, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(14) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 773, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(15) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
}

/* line 779, ../Proyecto Final _/sass/style.scss */
.titulo_mujeres {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

/* line 787, ../Proyecto Final _/sass/style.scss */
.titulo_mujeres h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 3rem;
  height: 100px;
}

@media (max-width: 1300px) {
  /* line 796, ../Proyecto Final _/sass/style.scss */
  body {
    font-size: 18px;
  }
  /* line 799, ../Proyecto Final _/sass/style.scss */
  .logo img {
    width: 250px;
  }
}

@media (max-width: 768px) {
  /* line 805, ../Proyecto Final _/sass/style.scss */
  .logo {
    padding-left: 1.25rem;
  }
  /* line 808, ../Proyecto Final _/sass/style.scss */
  .logo img {
    width: 250px;
  }
  /* line 811, ../Proyecto Final _/sass/style.scss */
  .ancho {
    background-color: #fbf2cf;
    height: 8rem;
    width: 100%;
  }
  /* line 817, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  /* line 823, ../Proyecto Final _/sass/style.scss */
  .boton {
    display: block;
    padding-top: 15px;
    border: #fff;
  }
  /* line 828, ../Proyecto Final _/sass/style.scss */
  .ancho {
    background-color: #fbf2cf;
    height: 8rem;
    width: 100%;
  }
  /* line 834, ../Proyecto Final _/sass/style.scss */
  .navegacion {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #a1c298;
    border-bottom: 2px solid lime;
    border-top: 2px solid lime;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
  }
  /* line 849, ../Proyecto Final _/sass/style.scss */
  .ancho ul {
    padding-left: 0;
  }
  /* line 850, ../Proyecto Final _/sass/style.scss */
  .ancho ul li {
    display: block;
    margin: 3.125rem 0;
    line-height: 1.875rem;
  }
  /* line 858, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a {
    font-size: 2rem;
    color: #088924;
  }
  /* line 863, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a:hover,
  .ancho ul li a.active {
    background: none;
    color: #fa7070;
  }
  /* line 869, ../Proyecto Final _/sass/style.scss */
  #check:checked ~ ul {
    left: 0;
  }
}

/*Contacto*/
/* line 875, ../Proyecto Final _/sass/style.scss */
.nosotros_ {
  text-align: center !important;
  font-size: 20px !important;
}

/* line 880, ../Proyecto Final _/sass/style.scss */
.section-title {
  text-align: center;
  padding: 25px 0;
}

/* line 884, ../Proyecto Final _/sass/style.scss */
.section-title h2 {
  font-size: 50px;
}

/* line 886, ../Proyecto Final _/sass/style.scss */
.section-title h2 span {
  color: #a1c298;
}

@media (max-width: 1400px) {
  /* line 893, ../Proyecto Final _/sass/style.scss */
  .section-title {
    text-align: center;
    padding: 25px 0;
  }
  /* line 897, ../Proyecto Final _/sass/style.scss */
  .section-title h2 {
    font-size: 30px;
  }
  /* line 899, ../Proyecto Final _/sass/style.scss */
  .section-title h2 span {
    color: #a1c298;
  }
}

/* line 906, ../Proyecto Final _/sass/style.scss */
.contact-form {
  background: #fff;
  box-shadow: black 0 5px 15px;
  padding: 40px 30px;
}

/* line 911, ../Proyecto Final _/sass/style.scss */
.contact-form .btn {
  background: #a1c298;
  font-weight: 700;
  padding: 10px 50px;
  letter-spacing: 2px;
}

/* mapa en area de contacto */
/* line 920, ../Proyecto Final _/sass/style.scss */
.map-area {
  width: 600px;
  height: 558px;
  background: #fff;
  box-shadow: black 0 5px 15px;
}

/* line 926, ../Proyecto Final _/sass/style.scss */
.map-area .mapa-moron {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 1400px) {
  /* line 934, ../Proyecto Final _/sass/style.scss */
  .contact-form {
    margin-bottom: 30px;
  }
  /* line 938, ../Proyecto Final _/sass/style.scss */
  .map-area {
    width: 100%;
    height: 400px;
  }
}

/* oferta en index */
/* line 944, ../Proyecto Final _/sass/style.scss */
.oferta_ {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

/* line 952, ../Proyecto Final _/sass/style.scss */
.oferta_ h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 3rem;
  height: 100px;
}

/* line 957, ../Proyecto Final _/sass/style.scss */
.oferta_ h2 span {
  color: #fa7070;
}

/* line 963, ../Proyecto Final _/sass/style.scss */
.ofertas_img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

/* line 970, ../Proyecto Final _/sass/style.scss */
.ofertas_img figure {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px black;
  cursor: pointer;
  margin: 20px;
}

/* line 980, ../Proyecto Final _/sass/style.scss */
.ofertas_img figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

/* line 985, ../Proyecto Final _/sass/style.scss */
.ofertas_img figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 194, 152, 0.8);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

/* line 996, ../Proyecto Final _/sass/style.scss */
.ofertas_img figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

/* line 1003, ../Proyecto Final _/sass/style.scss */
.ofertas_img figure .capa p {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  min-width: 220px;
  margin: auto;
}

/* line 1013, ../Proyecto Final _/sass/style.scss */
.ofertas_img figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

/* line 1017, ../Proyecto Final _/sass/style.scss */
.ofertas_img figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}

/* line 1022, ../Proyecto Final _/sass/style.scss */
.ofertas_img figure:hover > img {
  transform: scale(1.3);
}

@media (max-width: 1400px) {
  /* line 1029, ../Proyecto Final _/sass/style.scss */
  .ofertas_img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1);
    height: auto;
  }
  /* line 1035, ../Proyecto Final _/sass/style.scss */
  .ofertas_img figure {
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px black;
    cursor: pointer;
  }
  /* line 1043, ../Proyecto Final _/sass/style.scss */
  .ofertas_img figure .capa h3 {
    font-size: 25px;
  }
  /* line 1046, ../Proyecto Final _/sass/style.scss */
  .ofertas_img figure .capa p {
    font-size: 20px;
  }
  /* line 1054, ../Proyecto Final _/sass/style.scss */
  .oferta_ h2 {
    font-size: 25px;
  }
}

/* line 1059, ../Proyecto Final _/sass/style.scss */
.oferta_2 {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

/* line 1067, ../Proyecto Final _/sass/style.scss */
.oferta_2 h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 3rem;
  height: 100px;
}

/* line 1072, ../Proyecto Final _/sass/style.scss */
.oferta_2 h2 span {
  color: #fa7070;
}

/* Metodo de pago */
/* line 1078, ../Proyecto Final _/sass/style.scss */
.metodo_pago {
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}

/* line 1082, ../Proyecto Final _/sass/style.scss */
.metodo_pago img {
  width: 1000px;
  padding-bottom: 40px;
}

/* line 1086, ../Proyecto Final _/sass/style.scss */
.metodo_pago h2 {
  font-size: 18px !important;
  filter: drop-shadow(5px 0px 20px black) !important;
  border-radius: 16px;
}

/* line 1091, ../Proyecto Final _/sass/style.scss */
.metodo_pago h2 a {
  color: #fa7070;
}

@media (max-width: 1400px) {
  /* line 1098, ../Proyecto Final _/sass/style.scss */
  .metodo_pago {
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  /* line 1103, ../Proyecto Final _/sass/style.scss */
  .metodo_pago img {
    width: 350px;
    padding-bottom: 40px;
  }
  /* line 1107, ../Proyecto Final _/sass/style.scss */
  .metodo_pago h2 {
    font-size: 12px;
    filter: drop-shadow(5px 0px 20px black) !important;
  }
  /* line 1111, ../Proyecto Final _/sass/style.scss */
  .metodo_pago h2 a {
    color: #fa7070;
  }
  /* line 1117, ../Proyecto Final _/sass/style.scss */
  .oferta_2 h2 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */