/* line 1, ../Proyecto Final _/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* line 11, ../Proyecto Final _/sass/style.scss */
body {
  font-family: "Caveat Brush", cursive;
  font-family: "Righteous", cursive !important;
  width: auto;
  display: contents;
  margin: 0;
  font-size: 18px;
  background-color: #c7c7c7;
}

/* Barra de navegacion */
/* line 21, ../Proyecto Final _/sass/style.scss */
.ancho {
  background-color: #fbf2cf;
  height: 6.5626rem;
  width: 100%;
}

/* line 26, ../Proyecto Final _/sass/style.scss */
.ancho ul {
  float: right;
  margin-right: 20px;
}

/* line 30, ../Proyecto Final _/sass/style.scss */
.ancho ul li {
  display: inline-block;
  line-height: 6.5625rem;
  margin: 0 0.3125rem;
}

/* line 35, ../Proyecto Final _/sass/style.scss */
.ancho ul li a {
  color: black;
  font-size: 1.125rem;
  padding: 0.4375rem 0.8125rem;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 48, ../Proyecto Final _/sass/style.scss */
.ancho a img {
  width: 250px;
}

/* line 54, ../Proyecto Final _/sass/style.scss */
.logo {
  position: absolute;
  padding: 0px 20px;
}

/* line 59, ../Proyecto Final _/sass/style.scss */
.navegacion li a.decoracion_enlace:hover {
  background: #c6ebc5;
  transition: 0.5s;
  border-radius: 10px;
}

/* line 65, ../Proyecto Final _/sass/style.scss */
.boton {
  font-size: 1.875rem;
  color: #a1c298;
  float: right;
  line-height: 6.5625rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

/* line 75, ../Proyecto Final _/sass/style.scss */
#check {
  display: none;
}

/* slider inicio*/
/* line 80, ../Proyecto Final _/sass/style.scss */
.slider_gral {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 86, ../Proyecto Final _/sass/style.scss */
.slider {
  position: relative;
  max-width: 1420px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

/* line 94, ../Proyecto Final _/sass/style.scss */
.slider_container {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

/* line 105, ../Proyecto Final _/sass/style.scss */
.slider_img {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

/* line 114, ../Proyecto Final _/sass/style.scss */
.slider_paginado {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* line 125, ../Proyecto Final _/sass/style.scss */
.slider_img_pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

/* line 140, ../Proyecto Final _/sass/style.scss */
.slider_img_pg:hover {
  transform: scale(2);
}

/* line 144, ../Proyecto Final _/sass/style.scss */
.slider_img_pg img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

/* line 154, ../Proyecto Final _/sass/style.scss */
.slider_img_pg:hover img {
  opacity: 1;
  transform: scale(1);
}

/* line 159, ../Proyecto Final _/sass/style.scss */
input[id="1"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(0, 0, 0);
}

/* line 164, ../Proyecto Final _/sass/style.scss */
input[id="1"]:checked ~ .slider_paginado .slider_img_pg[for="1"] {
  background: #fff;
}

/* line 168, ../Proyecto Final _/sass/style.scss */
input[id="2"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

/* line 173, ../Proyecto Final _/sass/style.scss */
input[id="2"]:checked ~ .slider_paginado .slider_img_pg[for="2"] {
  background: #fff;
}

/* line 177, ../Proyecto Final _/sass/style.scss */
input[id="3"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(calc(-200% * 1), 0, 0);
}

/* line 182, ../Proyecto Final _/sass/style.scss */
input[id="3"]:checked ~ .slider_paginado .slider_img_pg[for="3"] {
  background: #fff;
}

@keyframes autoplay {
  33% {
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66% {
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% * 2), 0, 0);
  }
}

/*footer*/
/* line 201, ../Proyecto Final _/sass/style.scss */
.pie_pagina {
  width: 100%;
  background-color: #c6ebc5;
}

/* line 204, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

/* line 214, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 221, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box figure img {
  width: 250px;
}

/* line 226, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}

/* line 232, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box p {
  color: black;
}

/* line 236, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

/* line 248, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

/* line 254, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-2 {
  background-color: #a1c298;
  padding: 15px 10px;
  text-align: center;
  color: black;
}

/* line 260, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 1400px) {
  /* line 2, ../Proyecto Final _/sass/_responsive.scss */
  .pie_pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center;
  }
  /* line 9, ../Proyecto Final _/sass/_responsive.scss */
  .pie_pagina .grupo-1 .box figure img {
    width: 300px;
  }
}

/*Galeria de imagenes*/
/* line 270, ../Proyecto Final _/sass/style.scss */
.titulo_galeria_fotos h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 2rem;
}

/* line 276, ../Proyecto Final _/sass/style.scss */
.img_galeria_fotos {
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
  position: relative;
}

/* line 282, ../Proyecto Final _/sass/style.scss */
.img_galeria_fotos:hover {
  transform: scale(1.1);
  z-index: 2;
}

/* line 289, ../Proyecto Final _/sass/style.scss */
.imagenes_container {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 297, ../Proyecto Final _/sass/style.scss */
.imagenes_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 306, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(1) {
  grid-row-start: span 2;
}

/* line 310, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(2) {
  grid-row-start: span 2;
}

/* line 314, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(3) {
  grid-row-start: span 4;
}

/* line 318, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(4) {
  grid-row-start: span 2;
}

/* line 322, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(5) {
  grid-row-start: span 2;
}

/* line 326, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(6) {
  grid-row-start: span 4;
}

/* line 330, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(7) {
  grid-row-start: span 4;
}

/* line 334, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(8) {
  grid-row-start: span 2;
}

/* line 338, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(9) {
  grid-row-start: span 2;
}

/* line 342, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(10) {
  grid-row-start: span 2;
}

/* line 346, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(11) {
  grid-column-start: span 2;
  grid-row-start: span 4;
}

/* line 351, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(13) {
  grid-row-start: span 4;
}

/* line 355, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(14) {
  grid-row-start: span 2;
}

/* line 359, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(15) {
  grid-row-start: span 2;
}

/* line 363, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(16) {
  grid-row-start: span 2;
}

/* line 367, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(17) {
  grid-row-start: span 2;
}

@media (max-width: 1400px) {
  /* line 371, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 376, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 381, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(3) {
    grid-row-start: span 4;
    grid-column-start: span 2;
  }
  /* line 386, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 391, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 396, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 401, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 406, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(8) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 411, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 416, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(10) {
    grid-row-start: span 3;
    grid-column-start: span 4;
  }
  /* line 421, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(11) {
    grid-column-start: span 4;
    grid-row-start: span 2;
  }
  /* line 425, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(12) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  /* line 430, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(13) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 435, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(14) {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
  /* line 440, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(15) {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
  /* line 445, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(16) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 450, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(17) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 454, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(18) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
}

/*galeria fotos de Hombres*/
/* line 460, ../Proyecto Final _/sass/style.scss */
.titulo_hombre h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 2rem;
}

/* line 466, ../Proyecto Final _/sass/style.scss */
.imagenes_container_hombre {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 474, ../Proyecto Final _/sass/style.scss */
.imagenes_container_hombre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 482, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre {
  width: 100%;
}

/* line 486, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(1) {
  grid-row-start: span 2;
}

/* line 490, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(2) {
  grid-row-start: span 2;
}

/* line 494, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(3) {
  grid-row-start: span 4;
}

/* line 498, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(4) {
  grid-row-start: span 2;
}

/* line 502, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(5) {
  grid-row-start: span 3;
}

/* line 506, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(6) {
  grid-row-start: span 2;
}

/* line 510, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(7) {
  grid-row-start: span 3;
  grid-column-start: span 1;
}

/* line 515, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(8) {
  grid-row-start: span 2;
}

/* line 519, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(9) {
  grid-row-start: span 2;
}

/* line 523, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(10) {
  grid-row-start: span 4;
}

/* line 527, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(11) {
  grid-row-start: span 4;
}

/* line 531, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(12) {
  grid-row-start: span 3;
}

/* line 535, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(13) {
  grid-row-start: span 3;
}

@media (max-width: 1400px) {
  /* line 540, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 545, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 550, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(3) {
    grid-row-start: span 2;
  }
  /* line 554, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 559, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(5) {
    grid-row-start: span 2;
  }
  /* line 563, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 568, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(7) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 573, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 578, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 583, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(10) {
    grid-row-start: span 1;
  }
  /* line 587, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(11) {
    grid-row-start: span 1;
  }
  /* line 591, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(12) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 596, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(13) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
}

/*Galeria fotos de mujeres*/
/* line 603, ../Proyecto Final _/sass/style.scss */
.imagenes_container_mujeres {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 610, ../Proyecto Final _/sass/style.scss */
.imagenes_container_mujeres img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 617, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres {
  width: 100%;
}

/* line 621, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(1) {
  grid-row-start: span 3;
}

/* line 625, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(2) {
  grid-row-start: span 3;
}

/* line 629, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(3) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

/* line 634, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(4) {
  grid-row-start: span 4;
}

/* line 638, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(5) {
  grid-row-start: span 4;
}

/* line 642, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(6) {
  grid-row-start: span 3;
  grid-column-start: span 2;
}

/* line 647, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(7) {
  grid-row-start: span 4;
  grid-column-start: span 2;
}

/* line 652, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(8) {
  grid-row-start: span 2;
}

/* line 656, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(9) {
  grid-row-start: span 2;
}

/* line 660, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(10) {
  grid-row-start: span 4;
}

/* line 664, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(11) {
  grid-row-start: span 4;
}

/* line 668, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(12) {
  grid-row-start: span 4;
}

/* line 672, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(13) {
  grid-row-start: span 4;
}

/* line 675, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(14) {
  grid-row-start: span 2;
}

/* line 678, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(15) {
  grid-row-start: span 2;
}

@media (max-width: 1400px) {
  /* line 682, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(1) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 687, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(2) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 692, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 697, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 702, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 707, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 712, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 717, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 722, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 727, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(10) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 732, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(11) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 737, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(12) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 742, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(13) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 746, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(14) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 750, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(15) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
}

/* line 756, ../Proyecto Final _/sass/style.scss */
.titulo_mujeres h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1300px) {
  /* line 763, ../Proyecto Final _/sass/style.scss */
  body {
    font-size: 18px;
  }
  /* line 766, ../Proyecto Final _/sass/style.scss */
  .logo img {
    width: 250px;
  }
}

@media (max-width: 768px) {
  /* line 772, ../Proyecto Final _/sass/style.scss */
  .logo {
    padding-left: 1.25rem;
  }
  /* line 775, ../Proyecto Final _/sass/style.scss */
  .logo img {
    width: 250px;
  }
  /* line 778, ../Proyecto Final _/sass/style.scss */
  .ancho {
    background-color: #fbf2cf;
    height: 8rem;
    width: 100%;
  }
  /* line 784, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  /* line 791, ../Proyecto Final _/sass/style.scss */
  .boton {
    display: block;
    padding-top: 15px;
  }
  /* line 795, ../Proyecto Final _/sass/style.scss */
  .ancho {
    background-color: #fbf2cf;
    height: 8rem;
    width: 100%;
  }
  /* line 801, ../Proyecto Final _/sass/style.scss */
  .navegacion {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #a1c298;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
  }
  /* line 813, ../Proyecto Final _/sass/style.scss */
  .ancho ul li {
    display: block;
    margin: 3.125rem 0;
    line-height: 1.875rem;
  }
  /* line 819, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a {
    font-size: 2rem;
    color: #088924;
  }
  /* line 824, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a:hover,
  .ancho ul li a.active {
    background: none;
    color: #fa7070;
  }
  /* line 830, ../Proyecto Final _/sass/style.scss */
  #check:checked ~ ul {
    left: 0;
  }
}

/*Contacto*/
/* line 836, ../Proyecto Final _/sass/style.scss */
.nosotros_ {
  text-align: center !important;
  font-size: 20px !important;
}

/* line 841, ../Proyecto Final _/sass/style.scss */
.contact {
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

/* line 847, ../Proyecto Final _/sass/style.scss */
.head {
  background-color: #a1c298;
  border-radius: 5px;
  margin-top: -40px;
  -webkit-box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
  box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
}

/* line 856, ../Proyecto Final _/sass/style.scss */
.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

/* line 864, ../Proyecto Final _/sass/style.scss */
.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #a1c298;
  transition: 0.4s;
}

/* line 874, ../Proyecto Final _/sass/style.scss */
.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

/* line 880, ../Proyecto Final _/sass/style.scss */
.form-row {
  display: flex;
}

/* line 884, ../Proyecto Final _/sass/style.scss */
.btn1 {
  background: #a1c298;
  color: black;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 145px;
}

/* line 893, ../Proyecto Final _/sass/style.scss */
.btn1:hover {
  -webkit-box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
  box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
}

/*# sourceMappingURL=style.css.map */