/* line 1, ../Proyecto Final _/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* line 11, ../Proyecto Final _/sass/style.scss */
body {
  font-family: "Caveat Brush", cursive;
  font-family: "Righteous", cursive !important;
  width: auto;
  display: contents;
  margin: 0;
  font-size: 18px;
  background-color: #c7c7c7;
}

/* Barra de navegacion */
/* line 21, ../Proyecto Final _/sass/style.scss */
.ancho {
  background-color: #fbf2cf;
  height: 6.5626rem;
  width: 100%;
}

/* line 26, ../Proyecto Final _/sass/style.scss */
.ancho ul {
  float: right;
  margin-right: 20px;
}

/* line 30, ../Proyecto Final _/sass/style.scss */
.ancho ul li {
  display: inline-block;
  line-height: 6.5625rem;
  margin: 0 0.3125rem;
}

/* line 35, ../Proyecto Final _/sass/style.scss */
.ancho ul li a {
  color: black;
  font-size: 1.125rem;
  padding: 0.4375rem 0.8125rem;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 47, ../Proyecto Final _/sass/style.scss */
.logo {
  position: absolute;
  padding: 0px 20px;
}

/* line 52, ../Proyecto Final _/sass/style.scss */
.navegacion li a.decoracion_enlace:hover {
  background: #c6ebc5;
  transition: 0.5s;
  border-radius: 10px;
}

/* line 58, ../Proyecto Final _/sass/style.scss */
.boton {
  font-size: 1.875rem;
  color: #a1c298;
  float: right;
  line-height: 6.5625rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

/* line 68, ../Proyecto Final _/sass/style.scss */
#check {
  display: none;
}

/* slider inicio*/
/* line 73, ../Proyecto Final _/sass/style.scss */
.slider_gral {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 79, ../Proyecto Final _/sass/style.scss */
.slider {
  position: relative;
  max-width: 1420px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

/* line 87, ../Proyecto Final _/sass/style.scss */
.slider_container {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

/* line 98, ../Proyecto Final _/sass/style.scss */
.slider_img {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

/* line 107, ../Proyecto Final _/sass/style.scss */
.slider_paginado {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* line 118, ../Proyecto Final _/sass/style.scss */
.slider_img_pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

/* line 133, ../Proyecto Final _/sass/style.scss */
.slider_img_pg:hover {
  transform: scale(2);
}

/* line 137, ../Proyecto Final _/sass/style.scss */
.slider_img_pg img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

/* line 147, ../Proyecto Final _/sass/style.scss */
.slider_img_pg:hover img {
  opacity: 1;
  transform: scale(1);
}

/* line 152, ../Proyecto Final _/sass/style.scss */
input[id="1"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(0, 0, 0);
}

/* line 157, ../Proyecto Final _/sass/style.scss */
input[id="1"]:checked ~ .slider_paginado .slider_img_pg[for="1"] {
  background: #fff;
}

/* line 161, ../Proyecto Final _/sass/style.scss */
input[id="2"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

/* line 166, ../Proyecto Final _/sass/style.scss */
input[id="2"]:checked ~ .slider_paginado .slider_img_pg[for="2"] {
  background: #fff;
}

/* line 170, ../Proyecto Final _/sass/style.scss */
input[id="3"]:checked ~ .slider_container {
  animation: none;
  transform: translate3d(calc(-200% * 1), 0, 0);
}

/* line 175, ../Proyecto Final _/sass/style.scss */
input[id="3"]:checked ~ .slider_paginado .slider_img_pg[for="3"] {
  background: #fff;
}

@keyframes autoplay {
  33% {
    transform: translate3d(calc(-100% * 0), 0, 0);
  }
  66% {
    transform: translate3d(calc(-100% * 1), 0, 0);
  }
  100% {
    transform: translate3d(calc(-100% * 2), 0, 0);
  }
}

/*footer*/
/* line 194, ../Proyecto Final _/sass/style.scss */
.pie_pagina {
  width: 100%;
  background-color: #c6ebc5;
}

/* line 197, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

/* line 207, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 214, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box figure img {
  width: 250px;
}

/* line 219, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box h2 {
  color: black;
  margin-bottom: 25px;
  font-size: 20px;
}

/* line 225, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .box p {
  color: black;
}

/* line 229, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

/* line 241, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

/* line 247, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-2 {
  background-color: #a1c298;
  padding: 15px 10px;
  text-align: center;
  color: black;
}

/* line 253, ../Proyecto Final _/sass/style.scss */
.pie_pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 1400px) {
  /* line 2, ../Proyecto Final _/sass/_responsive.scss */
  .pie_pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    text-align: center;
  }
  /* line 9, ../Proyecto Final _/sass/_responsive.scss */
  .pie_pagina .grupo-1 .box figure img {
    width: 300px;
  }
}

/*Galeria de imagenes*/
/* line 263, ../Proyecto Final _/sass/style.scss */
.titulo_galeria_fotos h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 2rem;
}

/* line 269, ../Proyecto Final _/sass/style.scss */
.img_galeria_fotos {
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
  position: relative;
}

/* line 275, ../Proyecto Final _/sass/style.scss */
.img_galeria_fotos:hover {
  transform: scale(1.1);
  z-index: 2;
}

/* line 282, ../Proyecto Final _/sass/style.scss */
.imagenes_container {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 290, ../Proyecto Final _/sass/style.scss */
.imagenes_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 299, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(1) {
  grid-row-start: span 2;
}

/* line 303, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(2) {
  grid-row-start: span 2;
}

/* line 307, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(3) {
  grid-row-start: span 4;
}

/* line 311, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(4) {
  grid-row-start: span 2;
}

/* line 315, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(5) {
  grid-row-start: span 2;
}

/* line 319, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(6) {
  grid-row-start: span 4;
}

/* line 323, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(7) {
  grid-row-start: span 4;
}

/* line 327, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(8) {
  grid-row-start: span 2;
}

/* line 331, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(9) {
  grid-row-start: span 2;
}

/* line 335, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(10) {
  grid-row-start: span 2;
}

/* line 339, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(11) {
  grid-column-start: span 2;
  grid-row-start: span 4;
}

/* line 344, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(13) {
  grid-row-start: span 4;
}

/* line 348, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(14) {
  grid-row-start: span 2;
}

/* line 352, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(15) {
  grid-row-start: span 2;
}

/* line 356, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(16) {
  grid-row-start: span 2;
}

/* line 360, ../Proyecto Final _/sass/style.scss */
.img__galeria:nth-child(17) {
  grid-row-start: span 2;
}

@media (max-width: 1400px) {
  /* line 364, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 369, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 374, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(3) {
    grid-row-start: span 4;
    grid-column-start: span 2;
  }
  /* line 379, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 384, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 389, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 394, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 399, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(8) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 404, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 409, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(10) {
    grid-row-start: span 3;
    grid-column-start: span 4;
  }
  /* line 414, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(11) {
    grid-column-start: span 4;
    grid-row-start: span 2;
  }
  /* line 418, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(12) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  /* line 423, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(13) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 428, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(14) {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
  /* line 433, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(15) {
    grid-row-start: span 2;
    grid-column-start: span 4;
  }
  /* line 438, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(16) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 443, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(17) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 447, ../Proyecto Final _/sass/style.scss */
  .img__galeria:nth-child(18) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
}

/*galeria fotos de Hombres*/
/* line 453, ../Proyecto Final _/sass/style.scss */
.titulo_hombre h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 2rem;
}

/* line 459, ../Proyecto Final _/sass/style.scss */
.imagenes_container_hombre {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 467, ../Proyecto Final _/sass/style.scss */
.imagenes_container_hombre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 475, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre {
  width: 100%;
}

/* line 479, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(1) {
  grid-row-start: span 2;
}

/* line 483, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(2) {
  grid-row-start: span 2;
}

/* line 487, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(3) {
  grid-row-start: span 4;
}

/* line 491, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(4) {
  grid-row-start: span 2;
}

/* line 495, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(5) {
  grid-row-start: span 3;
}

/* line 499, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(6) {
  grid-row-start: span 2;
}

/* line 503, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(7) {
  grid-row-start: span 3;
  grid-column-start: span 1;
}

/* line 508, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(8) {
  grid-row-start: span 2;
}

/* line 512, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(9) {
  grid-row-start: span 2;
}

/* line 516, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(10) {
  grid-row-start: span 4;
}

/* line 520, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(11) {
  grid-row-start: span 4;
}

/* line 524, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(12) {
  grid-row-start: span 3;
}

/* line 528, ../Proyecto Final _/sass/style.scss */
.img__galeria_hombre:nth-child(13) {
  grid-row-start: span 3;
}

@media (max-width: 1400px) {
  /* line 533, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 538, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 543, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(3) {
    grid-row-start: span 2;
  }
  /* line 547, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 552, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(5) {
    grid-row-start: span 2;
  }
  /* line 556, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 561, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(7) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 566, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 571, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 576, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(10) {
    grid-row-start: span 1;
  }
  /* line 580, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(11) {
    grid-row-start: span 1;
  }
  /* line 584, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(12) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 589, ../Proyecto Final _/sass/style.scss */
  .img__galeria_hombre:nth-child(13) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
}

/*Galeria fotos de mujeres*/
/* line 596, ../Proyecto Final _/sass/style.scss */
.imagenes_container_mujeres {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 9.375rem;
  padding: 1.25rem;
  width: 100%;
}

/* line 603, ../Proyecto Final _/sass/style.scss */
.imagenes_container_mujeres img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 610, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres {
  width: 100%;
}

/* line 614, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(1) {
  grid-row-start: span 3;
}

/* line 618, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(2) {
  grid-row-start: span 3;
}

/* line 622, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(3) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

/* line 627, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(4) {
  grid-row-start: span 4;
}

/* line 631, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(5) {
  grid-row-start: span 4;
}

/* line 635, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(6) {
  grid-row-start: span 3;
  grid-column-start: span 2;
}

/* line 640, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(7) {
  grid-row-start: span 4;
  grid-column-start: span 2;
}

/* line 645, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(8) {
  grid-row-start: span 2;
}

/* line 649, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(9) {
  grid-row-start: span 2;
}

/* line 653, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(10) {
  grid-row-start: span 4;
}

/* line 657, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(11) {
  grid-row-start: span 4;
}

/* line 661, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(12) {
  grid-row-start: span 4;
}

/* line 665, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(13) {
  grid-row-start: span 4;
}

/* line 668, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(14) {
  grid-row-start: span 2;
}

/* line 671, ../Proyecto Final _/sass/style.scss */
.img__galeria_mujeres:nth-child(15) {
  grid-row-start: span 2;
}

@media (max-width: 1400px) {
  /* line 675, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(1) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 680, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(2) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 685, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 690, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(4) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 695, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(5) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 700, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 705, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 710, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(8) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  /* line 715, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 720, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(10) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 725, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(11) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 730, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(12) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 735, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(13) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  /* line 739, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(14) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /* line 743, ../Proyecto Final _/sass/style.scss */
  .img__galeria_mujeres:nth-child(15) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
}

/* line 749, ../Proyecto Final _/sass/style.scss */
.titulo_mujeres h2 {
  background-color: #a1c298;
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1300px) {
  /* line 756, ../Proyecto Final _/sass/style.scss */
  body {
    font-size: 18px;
  }
  /* line 759, ../Proyecto Final _/sass/style.scss */
  .logo img {
    width: 250px;
  }
}

@media (max-width: 768px) {
  /* line 765, ../Proyecto Final _/sass/style.scss */
  .logo {
    padding-left: 1.25rem;
  }
  /* line 768, ../Proyecto Final _/sass/style.scss */
  .logo img {
    width: 250px;
  }
  /* line 771, ../Proyecto Final _/sass/style.scss */
  .ancho {
    background-color: #fbf2cf;
    height: 8rem;
    width: 100%;
  }
  /* line 777, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  /* line 784, ../Proyecto Final _/sass/style.scss */
  .boton {
    display: block;
    padding-top: 15px;
  }
  /* line 788, ../Proyecto Final _/sass/style.scss */
  .ancho {
    background-color: #fbf2cf;
    height: 8rem;
    width: 100%;
  }
  /* line 794, ../Proyecto Final _/sass/style.scss */
  .navegacion {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #a1c298;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
  }
  /* line 806, ../Proyecto Final _/sass/style.scss */
  .ancho ul li {
    display: block;
    margin: 3.125rem 0;
    line-height: 1.875rem;
  }
  /* line 812, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a {
    font-size: 2rem;
    color: #088924;
  }
  /* line 817, ../Proyecto Final _/sass/style.scss */
  .ancho ul li a:hover,
  .ancho ul li a.active {
    background: none;
    color: #fa7070;
  }
  /* line 823, ../Proyecto Final _/sass/style.scss */
  #check:checked ~ ul {
    left: 0;
  }
}

/*Contacto*/
/* line 829, ../Proyecto Final _/sass/style.scss */
.nosotros_ {
  text-align: center !important;
  font-size: 20px !important;
}

/* line 834, ../Proyecto Final _/sass/style.scss */
.contact {
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

/* line 840, ../Proyecto Final _/sass/style.scss */
.head {
  background-color: #a1c298;
  border-radius: 5px;
  margin-top: -40px;
  -webkit-box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
  box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
}

/* line 849, ../Proyecto Final _/sass/style.scss */
.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

/* line 857, ../Proyecto Final _/sass/style.scss */
.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #a1c298;
  transition: 0.4s;
}

/* line 867, ../Proyecto Final _/sass/style.scss */
.effect-1:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

/* line 873, ../Proyecto Final _/sass/style.scss */
.form-row {
  display: flex;
}

/* line 877, ../Proyecto Final _/sass/style.scss */
.btn1 {
  background: #a1c298;
  color: black;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 145px;
}

/* line 886, ../Proyecto Final _/sass/style.scss */
.btn1:hover {
  -webkit-box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
  box-shadow: -2px -2px 52px 3px rgba(0, 0, 0, 0.52);
}

/*# sourceMappingURL=style.css.map */