@media screen and (max-width:1400px) {
    .pie_pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        text-align: center;
    }
    .pie_pagina .grupo-1 .box figure img {
        width: 300px;
    }

    
}


