$font1: 18px;
$color-backgroun: #c7c7c7;
$durazno: #fbf2cf;
$font2: 'Caveat Brush', cursive;
$font3: 'Righteous', cursive !important;
$color4: #c6ebc5;
$aqua: aqua;
$negro: black;
$footer: #a1c298;
$durazno_2: #fa7070;